<!-- <img src="../images/banniere.png" style="width:100%"> -->

<div id="innerBody">
  <div id = "content">

    <myBlockPresentation *ngFor ="let id of ids" [id] = "id"> </myBlockPresentation>

  </div>
</div>

<!--
<div class="accueil">
  <div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-9"><h2>Titre</h2></div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
        <div id="text" class="ui-g-12 ui-md-6 ui-lg-10">Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src="../images/enfant.png" style="width:100%;max-width:15em;min-width:10em"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
  </div>
</div>

 <div class="accueil">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src="../images/enfant.png" style="width:100%"></div>
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-9"><h2>Titre</h2></div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-10">Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    </div>
  </div>
</div> -->

<!-- <p>
  Howdy! Here's a list of awesome computer scientists.
  Do you know any others? Add to the list yourself.
</p> -->

<!-- <form (submit)="addName()">
  <input pInputText [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist"/>
  <button pButton type="submit" label="Add" icon="fa-check" iconPos="right"></button>
</form>

<ul>
  <li *ngFor="let name of nameListService.get() | async">{{name}}</li>
</ul>

<br/>

<p-panel header="Godfather I" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
  The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
  His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
  Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
  kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
</p-panel> -->
