<nav>
	<ul>
	<li><a [routerLink]="['/contact']">NOUS CONTACTER</a>
	<li><a [routerLink]="['/don']">FAIRE UN DON</a>
	<li><a [routerLink]="['/partenaires']">NOS PARTENAIRES</a>
	<li><a [routerLink]="['/enfants']">NOS ENFANTS</a>
	<li id="presentation"><a [routerLink]="['/presentation']">PRESENTATION</a>
	<ul class="sousmenu_presentation">
		<li><hr>
		<li><a [routerLink]="['/cause']">NOTRE CAUSE</a>
		<li><hr>
		<li><a [routerLink]="['/actions']">NOS ACTIONS</a>
		<li><hr>
		<li><a [routerLink]="['/membres']">NOS MEMBRES</a>
	</ul>
  	<li><a [routerLink]="['/']">ACCUEIL</a> 
  </ul>
</nav>
