:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  margin-right:0.5em;
}

nav{
    text-align:center;
}

nav a {
  color: #009999;
  font-size: 1em;
  font-weight: bold;
  font-family : Univers LT Std 55 Roman;
  line-height: 50px;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  vertical-align: middle;
}

nav a.router-link-active {
  color: #106cc8;
}
ul li {
  display: inline-block;
}
.sousmenu_presentation{
  display:none;
  width : 10em;
  margin:auto;
  white-space: nowrap;
  position:absolute;
  z-index:0;
  border: 1px solid black;

}
#presentation:hover ul{
  display: block;
  padding-top: 3em;
    margin-top:-3em;
  background-color:#009999 ;

}
#presentation:hover a{
  color:#fdfdfd;
  z-index:10;
  position:relative;
}

 .sousmenu_presentation a {
  color : #fdfdfd;
  float:left;
 }
  .sousmenu_presentation li {
  width : 10em;
  float : right;
 }