
<div class="titre">
	<div class="label">
<h3 class="first">Objet</h3>
	</div>
	<div class="input">
<input id="in" type="text" size="30" pInputText [(ngModel)]="objet" />
	</div>
</div>


<br/><br/><br/>

<div class="corps">
	<div class="label">
<h3 class="first" style="top:-60px;position:relative">Message</h3>
	</div>
	<div class="input">
<textarea rows="5" cols="90"  pInputTextarea [(ngModel)]="message"></textarea>
	</div>
</div>

<br/><br/><br/>

<div class="envoi">
<a href="mailto:david.1910@live.fr?subject={{objet}}&body={{message}}">Envoyer</a>
 </div>
