<img src="../images/contactez-nous.png" style="width:100%">


<div class="titre">
	<div class="label">
<h3 class="first">Objet</h3>
	</div>
	<div class="input">
<input id="in" type="text" size="80" pInputText [(ngModel)]="objet" />
	</div>
</div>


<br/><br/><br/>

<div class="corps">
	<div class="label">
<h3 class="first" style="top:-100px;position:relative;z-index:-1">Message</h3>
	</div>
	<div class="input">
<textarea rows="8" cols="84"  pInputTextarea [(ngModel)]="message"></textarea>
	</div>
</div>

<br/><br/><br/>

<div class="envoi">
<a href="mailto:david.1910@live.fr?subject={{objet}}&body={{message}}">Envoyer</a>
 </div>
