<div id="flexbox">	
<section id="don">
	<table>
		<tr>
			<th colspan='2'>Je fais un don pour les enfants d'IMAN</th>
		</tr>
		<tr>
			<td colspan='2'>
				<strong>Pourquoi donner ?</strong>
				<p>
				Au-delà de notre capacité à tous à venir en aide à l'autre, il existe un devoir commun à l'hummanité 
				toute entière et propre à chacun de nous, de faire partie d'une chaîne de solidarité humaine qui
				portera le cri de l'injustice...
				</p>
				<p>
				En tant que donateur de l'association IMAN, vous bénéficiez d'une réduction d'impôt égale à 66% du
				montant de votre don dans la limite de 20% de votre revenu imposable (report possible sur les cinq années
				suivant le don).
				</p>
				<p>
				Ainsi, si vous êtes imposable, un don de 50€ ne vous coûtera en réalité que 17€ après déduction fiscale.
				</p>
				<p>
				Pour les entreprises, la déduction fiscale est de 60% (dans la limite de 5% du CA).
				</p>
			</td>
		</tr>
		<tr>
			<td id="paypal">
				<a href="https://www.sandbox.paypal.com/cgi-bin/webscr?business=iman-business@parisdescartes.fr&bn=IMAN_DONATE_WOS_FR&cmd=_donations&item_name=Don%20pour%20association%20IMAN&currency_code=EUR" target='_blank' >
					<img src="../../images/paypal-callout.png" alt="Faire un don">
				</a>
			</td>
			<td>
				<strong>Information chèque</strong>
				<p>Chèque à adresser à XXX à l'ordre de XXX</p>
			</td>
		</tr>
	</table>
</section>

<section id="invitation">


	
	<table>
		<tr>
			<th colspan='4'>Inviter des amis</th>
		</tr>
		<tr>
			<td colspan='4'>
				<strong>Partager</strong>
				<p>Nous faire connaître auprès de vos amis</p>
			</td>
		</tr>
		
		
		<tr>
			<td>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.6";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				</script>
				<div class="fb-share-button" data-href="http://169.254.54.156:5555/don" data-layout="button" data-size="large" data-mobile-iframe="true">
					<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F169.254.54.156%3A5555%2Fdon&amp;src=sdkpreparse">
						<img class='social' alt='Facebook' src="../../images/ImageFacebook.png" />
					</a>
				</div>
			</td>
			<td><img class='social' alt='Google+' src="../../images/googleplus.png" /></td>
			<td><img class='social' alt='Twitter' src="../../images/ImageTwitter.png" /></td>
			<td><img class='social' alt='Linked in' src="../../images/ImageLinkedIn.png" /></td>
		</tr>
		<tr>
			<td colspan='4'>
				<form>
					<label for="mail">Souhaitez-vous rester informé ?</label>
					<input id="mail" name="mail" type="text" />
					<input name="submit" type="submit" value="&#9993;" />
				</form>
			</td>
		</tr>
	</table>
</section>
</div>


<!--
<a href="https://www.sandbox.paypal.com/cgi-bin/webscr?business=iman-business@parisdescartes.fr&bn=IMAN_DONATE_WOS_FR&cmd=_donations&item_name=Don%20pour%20association%20IMAN&currency_code=EUR" target='_blank'>
	<img src="https://www.paypal.com/fr_FR/i/btn/btn_donateCC_LG.gif" alt="" />
</a>
-->
