<h1>Programme de soin</h1>

<p-dataTable [value]="programme">
  <p-column field="date" header="Date Bilan"></p-column>
  <p-column field="trouble" header="Trouble"></p-column>
  <p-column field="therapie" header="Thérapie"></p-column>
  <p-column field="nombre" header="Nombre de séances (Heures)"></p-column>
  <p-column field="dateEcheance" header="Date Echéance"></p-column>
  <p-column field="pu" header="PU"></p-column>
  <p-column field="total" header="Total"></p-column>
  <p-column field="statut" header="Statut Terminé / A Faire"></p-column>
</p-dataTable>

<h1>Mécènes</h1>

<p-dataTable [value]="mecene">
  <p-column field="date" header="Date de la session"></p-column>
  <p-column field="poste" header="Poste de dépense"></p-column>
  <p-column field="mecene" header="Mécène"></p-column>
  <p-column field="montant" header="Montant"></p-column>
</p-dataTable>

