<h1>Programme de soin</h1>

<p-dataTable>
  <p-column header="Date Bilan"></p-column>
  <p-column header="Trouble"></p-column>
  <p-column header="Thérapie"></p-column>
  <p-column header="Nombre de séances (Heures)"></p-column>
  <p-column header="Date Echéance"></p-column>
  <p-column header="PU"></p-column>
  <p-column header="Total"></p-column>
  <p-column header="Statut Terminé / A Faire"></p-column>
</p-dataTable>

<h1>Mécènes</h1>

<p-dataTable>
  <p-column header="Date de la session"></p-column>
  <p-column header="Poste de dépense"></p-column>
  <p-column header="Mécène"></p-column>
  <p-column header="Montant"></p-column>
</p-dataTable>

