:host {
  display: block;
  padding: 0 16px;
}

h2, em{
	margin : 1em;
	text-align : center;
}

em{
	display : block;
	margin-bottom : 1.5em;
}

#flexbox{
	display : flex;
    flex-wrap: wrap;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	margin-top : 1em;
	margin-bottom : 1em;
}

#flexbox>fieldset:not(#choix){
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	text-align : left;
	margin : 1em;
}

input:not([type=radio]){
	margin-bottom : 0.5em;
}

input[type=radio]{
	vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=button]:hover, input[type=submit]:hover{
	opacity : 0.5;
}

input[type=button], input[type=submit]{
	width : 100%;
}

#choix, #validation{
	text-align:center;
}

input[type=text]:valid, input[type=tel]:valid, input[type=email]:valid, input[type=password]:valid{
   box-shadow: 0 0 2px 1px green;
}

input[type=text]:invalid, input[type=tel]:invalid, input[type=email]:invalid, input[type=password]:invalid{
   box-shadow: 0 0 2px 1px red;
}

input[required]{
    background: url('../../images/asterisque.jpg');
    background-size: 1em auto;
    background-position: right top;
    background-repeat: no-repeat;
}

#message-box{
	text-align : center;
	display : block;
}