<!-- <img src="../images/banniere.png" style="width:100%"> -->


<div class="accueil">
  <div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-9"><h2>Titre</h2></div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-10">Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src="../images/enfant.png" style="width:100%"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
  </div>
</div>

<div class="accueil">
  <div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src="../images/enfant.png" style="width:100%"></div>
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-9"><h2>Titre</h2></div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
        <div class="ui-g-12 ui-md-6 ui-lg-10">Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.</div>
        <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    </div>
  </div>
</div>