<h1>Bonjour, {{compte}}</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sit amet lacus tellus. Aliquam ullamcorper, magna id vulputate pulvinar, ipsum metus mattis justo, nec eleifend nisi nulla ac leo. Sed fermentum efficitur ex. Suspendisse ac suscipit libero. Praesent consectetur bibendum nibh a bibendum. Pellentesque maximus vestibulum lorem in feugiat. Vivamus sollicitudin neque lorem, vel auctor magna dictum vitae.
<p>

<h2>Enfants</h2>

<p-dataList [value]="enfants" [paginator]="true" [rows]="5">
  <header>
    Vos enfants
  </header>
  <template let-enfant>
    <li style="border-bottom:1px solid #D5D5D5;">
      <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3" style="text-align:center"><a href="enfant/{{enfant.id}}"><i class="fa fa-search"
                                                                                          (click)="selectEnfant(enfant)"
                                                                                          style="cursor:pointer;float:left;margin-top:40px"></i><img
            src="{{enfant.image}}"></a></div>
          <div class="ui-grid-col-9">
            <div class="ui-grid ui-grid-responsive ui-fluid">
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">Prénom:</div>
                <div class="ui-grid-col-10">{{enfant.prenom}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">Nom:</div>
                <div class="ui-grid-col-10">{{enfant.nom}}</div>
              </div>
              <div class="ui-grid-row">
                <div class="ui-grid-col-2">Description:</div>
                <div class="ui-grid-col-10">{{enfant.description}}</div>
              </div>
              <div class="derniereMaj">{{enfant.derniereMaj}}</div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </template>
</p-dataList>
