<h1>Bonjour, {{compte}}</h1>

<p>
  Angular 2 Seed is a starter project that implements best practices in
  coding, building and testing Angular 2 apps.
<p>

<h2>Enfants</h2>

<div class="ui-g">
  <div class="ui-g-3 enfant">Col1</div>
  <div class="ui-g-3 enfant">Col2</div>
  <div class="ui-g-3 enfant">Col3</div>
  <div class="ui-g-3 enfant">Col4</div>
  <div class="ui-g-3 enfant">Col5</div>
  <div class="ui-g-3 enfant">Col6</div>
  <div class="ui-g-3 enfant">Col7</div>
  <div class="ui-g-3 enfant">Col8</div>
</div>
