<br/>
<p-panel styleClass="panel-enfant">
  <header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:24px">{{enfantDetails.nom + ' ' + enfantDetails.prenom}}</span>

      <p-splitButton label="Modifier" icon="fa-update" (onClick)="update()" styleClass="floatRight">
        <p-splitButtonItem icon="fa-folder-open-o" label="Dossier personnel"
                           (onClick)="dossierPersonnel()"></p-splitButtonItem>
      </p-splitButton>
    </div>
  </header>
  <div class="avatar">
    <img src="{{enfantDetails.image}}"/>
  </div>
  <div class="wrap">
    <div class="ui-g">
      <div class="ui-xl-6 ui-lg-6  "><b>Date de naissance :</b> {{enfantDetails.dateDeNaissance}}</div>
      <div class="ui-xl-6 ui-lg-6  "><b>Sexe :</b> {{enfantDetails.sexe}}</div>
    </div>
    <div class="ui-g">
      <div class="ui-xl-6 ui-lg-6 "><b>Adresse :</b> {{enfantDetails.adresse}}</div>
    </div>
    <div class="ui-g">
      <div class="ui-xl-6 ui-lg-6 "><b>Code postal :</b> {{enfantDetails.codePostal}}</div>
      <div class="ui-xl-6 ui-lg-6 "><b>Ville :</b> {{enfantDetails.ville}}</div>
    </div>
    <div class="ui-g">
      <div class="ui-xl-6 ui-lg-6 "><b>Responsable légal 1 :</b> {{enfantDetails.responsable1}}</div>
      <div class="ui-xl-6 ui-lg-6 "><b>Responsable légal 2 :</b> {{enfantDetails.responsable2}}</div>
    </div>
  </div>
  <div>
    <h2> Thérapies : </h2>

  </div>
  <div>
    <h2> Diagnostic : </h2>

  </div>
</p-panel>
