:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  margin-right:0.5em;
}

nav a {
  color: #009999;
  font-size: 1em;
  font-weight: bold;
  font-family : Univers LT Std 55 Roman;
  line-height: 50px;
  margin-left: 1em;
  margin-right: 1em;
  text-decoration: none;
  vertical-align: middle;
  float:right;
}

.rejoindre{
  position : fixed;
  z-index:5;
  bottom:0;
  height : 4em;
  width : 100%;
  text-align:center;
  background-color : #9ddbd3;
  padding-top : 0.5em;
  transition : all .5s ease-in;
}
.rejoindre a {
  text-align : center;
  color: #19a1a0;
  text-decoration: none;
  font-weight:bold;
}

img{
  display : block;
  height : 1.5em;
  width : 2em;
  margin:auto;
  margin-bottom:0.5em;
}

.fermer{
  display : none;
}

#volet:target{
  height : 10em;
}

#volet:target .fermer{
  display: block;
}
#volet:target .ouvrir{
  display : none;
}

.rejoindre a:hover{
	opacity : 0.5;
}

