<div class="footer">


<div class="accueil">
	 <div class="menu">
	 	<div class="block">
		<a [routerLink]="['/']"><img src="../../images/ImageMenuAccueil.png" style="width:5em">
		ACCUEIL</a>
		</div>
		<div class="block">	
		<a [routerLink]="['/presentation']"><img src="../../images/ImageMenuAssociation.png" style="width:5em">
		PRESENTATION</a>
		</div>
		<div class="block">	
		<a [routerLink]="['/enfant']"><img src="../../images/ImageMenuNosEnfants.png" style="width:5em">
		NOS ENFANTS</a>
		</div>
		<div class="block">	
		<a [routerLink]="['/partenaires']"><img src="../../images/ImageMenuNosPartenaires.png" style="width:5em">
		NOS PARTENAIRES</a>
		</div>
		<div class="block">	
		<a [routerLink]="['/contact']"><img src="../../images/ImageMenuNousContacter.png" style="width:5em">
		NOUS CONTACTER</a>
		</div>
	</div>
</div>
</div>
