<!--
<div *ngIf = "block.style == 'Horizontal'" class="Horizontal">
  <div class="ui-g">
    <div class="ui-g-8 ui-g-nopad">
      <div class="ui-g-12 ui-md-6 ui-lg-3"></div>
      <div class="ui-g-12 ui-md-6 ui-lg-9"><h2>{{ block.title }}</h2></div>
      <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
      <div id="text" class="ui-g-12 ui-md-6 ui-lg-10">{{ block.content }}</div>
      <div class="ui-g-12 ui-md-6 ui-lg-1"></div>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src="{{block.imageUrl}}" style="width:100%;max-width:15em;min-width:10em"></div>
    <div class="ui-g-12 ui-md-6 ui-lg-1"></div>

    <div class="ui-g-12 ui-md-3 ui-lg-3"><img src={{block.imageUrl}} style="width:100%;max-width:15em;min-width:10em"></div>

  </div>
</div>
-->
<div class={{block.style}}>
  <div name="text" class="textContent">
      <div class = "titleContent"><h2>{{ block.title }}</h2></div>
      <div class = "contentContent">{{ block.content }}</div>
  </div>
  <div name="image" class="imageContent"><img src={{block.imageUrl}} style="width:100%;"></div>
</div>

<!--

<div *ngIf = "block.style == 'HalfVertical'" class="HalfVertical">
  <div name="text" class="textContent">
    <div class = "titleContent"><h2>{{ block.title }}</h2></div>
    <div class = "contentContent">{{ block.content }}</div>
  </div>
  <div name="image" class="imageContent"><img src={{block.imageUrl}} style="width:100%;"></div>
</div>

<div *ngIf = "block.style == 'HalfHorizontal'" class="HalfHorizontal">
  <div name="text" class="textContent">
    <div class = "titleContent"><h2>{{ block.title }}</h2></div>
    <div class = "contentContent">{{ block.content }}</div>
  </div>
  <div name="image" class="imageContent"><img src={{block.imageUrl}} style="width:100%;"></div>
</div>

<div *ngIf = "block.style == 'Vertical'" class="Vertical">
  <div name="text" class="textContent">
    <div class = "titleContent"><h2>{{ block.title }}</h2></div>
    <div class = "contentContent">{{ block.content }}</div>
  </div>
  <div name="image" class="imageContent"> <img src={{block.imageUrl}} style="width:100%;"></div>
</div>
-->

<!--*ngIf = "block.style = 'default'" -->
